<div class="jumbotron">
  <h1 align = 'center' >Search Weather <i class="fa fa-thermometer-three-quarters"  id="therma"></i></h1>
  <p align = 'center'>Enter the name of the city!</p>

  <%= render 'form'%>
</div>
